/* NORMALIZE CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none;
}

/*FIM DO NORMALIZE CSS*/

/*Padrão de esclaa de cores e fontes*/
:root{
    --marinho1:#001F3F;
    --marinho2: #31466A;
    --aço1:#808080;
    --aço2: #656565;
    --aço3: #616161;
    --cinza1:#F5F5F5;
    --cinza2: #ebebeb;
    --cinza3: #c2c2c2;
    --coral1:#FF6B6B;
    --coral2: #8F001A;
    --branco:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
}
/*Linhas para visulaizar containers*/
div {
    border: solid 2px var(--coral2);
}


/*Padronagem de elementos mais genéricos do  site*/

body {
    background: var(--cinza1);
    display: flex;
    flex-direction: row;
}

h1 {
    color: var(--marinho1);
    font-family: 'Roboto Slab', serif;
}
h2 {
    color: var(--marinho1);
    font-family: 'Roboto Slab', serif;
}
p {
    color: var(--aço1);
    font-family: 'Open Sans', sans-serif;
}
a{
    color:var(--marinho2);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover{
    color: var(--coral1)
}
a:hover ::after {
    color: var(--aço3)
}
/*Areá de menu do site*/

#modal-menu-open {
    background: var(--cinza2);
    width: 384px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 0,
 }
#modal-menu-closed{
    background: var(--cinza2);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: -384px;
    z-index: 0,
}
#search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 384px;
    height: 155px;
    background: var(--aço2);
}
#pesquisa{
    width: 100%;
    height: 40px;
}
nav{
    background: var(--cinza1);
    align-self: center;
}
nav ul{
    margin-top: 20px;;
    padding: 20px;
}

/*Solução mais simples pro campo de pesquisa e placeholder*/

#search-area label {
    position: relative;
    display: inline-block;
 }
 
 .search-icon {
    position: absolute;
    left: 10px; /* ajuste conforme necessário */
    top: 50%;
    transform: translateY(-50%);
}
 
.search-input {
    padding-left: 40px; /* ajuste conforme necessário */
}

#pesquisa::placeholder {
    font-family: 'Open Sans', sans-serif;
  }

/*
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 155px;
    border: 2px solid red;
}
 
div#menu-button {
    border: 2px solid red;
    height: 155px;
    width: 95px;
 
 
div#logo {
    border: 2px solid red;
    height: 155px;
    flex-grow: 1;
 }
 
div#social-dock {
    border: 2px solid red;
    height: 155px;
    width: 250px;
    display: flex;
}
#context {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    background-color: var(--cinza);
    padding: 20px; 
}
/*
#content {
    width: 100%; 
}
/*

*/
#ad {
    width: 200px;
    background-color: var(--branco); 
}

footer {
    width: 100%;
    height: 72px;
    background-color: var(--coral2);
    border-radius: 10px;
}